body{
        background-color: white;
      }
      #img{

        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
        z-index: 1;
      }
      #div2{
        background-color: black; 
        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
        z-index: 0;
      }
      #div0{
        background-color: white;
        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
        position: absolute;  
          top: 30%;  
          bottom: 0;  
          left: 0;  
          right: 0;  
        margin: auto;
        z-index: 1;
      }
      #name{
        font-size: 35px;
        position: absolute;  
          top: 27%;  
          bottom: 0;  
          left: 4%;  
          right: 0;
          z-index: 2;
      }
      #star{
        font-size: 17px;
        position: absolute;  
          top: 40%;  
          bottom: 0;  
          left: 4.2%;  
          right: 0;
          z-index: 2;
      }
      #about{
        font-size: 26px;
        position: absolute;  
          top: 67%;  
          bottom: 0;  
          left: 4.2%;  
          right: 0;
          z-index: 2;
      }
      #about{text-decoration:none;}
      #about:hover{text-decoration:underline;}
      #menu{
        font-size: 26px;
        position: absolute;  
          top: 80%;  
          bottom: 0;  
          left: 4.2%;  
          right: 0;
          z-index: 2;
      }
      #menu{text-decoration:none;}
      #menu:hover{text-decoration:underline;}
      #div1{
        line-height: 50px;
        font-size: 20px;
        z-index: 2;
        position: absolute;
          top: 57%;
          left:0%;
      }