body{
        background-color: white;
      }
      #img{

        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
        position: absolute;  
        top: 0;  
        bottom: 55%;  
        left: 0;  
        right: 0;  
        margin: auto;
        z-index: 1;
      }
      #img2{
        width: 35%;
        height: 45%; 
        position: absolute;  
          top: 35%;  
          bottom: 0;  
          left: 55%;  
          right: 0;
          z-index: 2;

      }
      #div0{
        background-color: white;
        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
        position: absolute;  
          top: 30%;  
          bottom: 0;  
          left: 0;  
          right: 0;  
        margin: auto;
        z-index: 1;
      }
      #div2{
        background-color: black; 
        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
        z-index: 0;
      }
      #name{
        font-size: xx-large;
        position: absolute;  
          top: 27%;  
          bottom: 0;  
          left: 4%;  
          right: 0;
          z-index: 2;
      }
      #star{
        font-size: large;
        position: absolute;  
          top: 40%;  
          bottom: 0;  
          left: 4.2%;  
          right: 0;
          z-index: 2;
      }
      #about{
        width: 45%;
        font-size: x-large;
        position: absolute;  
          top: 50%;  
          bottom: 0;  
          left: 4.2%;  
          right: 0;
          z-index: 2;
      }
      #menu{
        font-size: x-large;
        position: absolute;  
          top: 85%;  
          bottom: 0;  
          left: 4.2%;  
          right: 0;
          z-index: 2;
      }
      #submenu{
        width: 45%;
        font-size: large;
        word-spacing:5rem;
        line-height: 5rem;
        weight: 50%;
        position: absolute;
          top: 90%;
          bottom: 0;
          left: 5%;
          right: 0;
          z-index: 2;
      }
      #comment_title{
        font-size: x-large;
        position: absolute;
          top: 85%;
          bottom: 0;
          left: 55%;
          right: 0;
          z-index: 1;
      }
      #comment{
        font-size: large;
        line-height: 3rem;
        position: absolute;
          top: 90%;
          bottom: 0;
          left: 55%;
          right: 0;
          z-index: 2;
      }
      #div1{
        line-height: 50px;
        font-size: large;
        z-index: 2;
        position: absolute;
          top: 57%;
          left:0%;
      }
      a:link{
        text-decoration:none;
        background-color:white;
      }
      a:visited{
        color:blueviolet;
        background-color:white;
      }
      a:hover{
        text-decoration:underline;
        background-color:gainsboro;
      }
      a:active{
        text-decoration:none;
        background-color:gainsboro;
        color:red;
      }