body{
      background-color: black;
    }
    #img{

      max-height: 100%;  
      max-width: 100%; 
      width: auto;
      height: auto;
      position: absolute;  
      top: 0;  
      bottom: 0;  
      left: 0;  
      right: 0;  
      margin: auto;
      z-index: 0;
    }
    #div{
      /*半透明圖層*/
      max-width: 100%; 
      width: auto;
      /*width: 1275px;*/
      height: 450px;
      background-color: rgba(255, 255, 255, .8);
      z-index: 0;
      position: absolute;  
        top: 15%;  
        bottom: 0;  
        left: 0;  
        right: 0;
    }
    #b1 {
      color: #0099CC; 
      background: transparent; 
      border: 2px solid #0099CC;
      border-radius: 6px; 
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      }
      #b1 {
            background-color: white; 
            color: black; 
            border: 2px solid #06c167;
      }
      #b1:hover {
            background-color: #06c167;
            color: white;
      }
      div{
          position: absolute;
          top: 160px;
          left:540px;
        }
        #b1{
          z-index: 2;
          position: absolute;
          top: 400px;
          left:580px;
        }
        #text{
          z-index: 2;
          position: absolute;
          top: 65px;
          left:570px;
          font-size: 35px;
        }